#home{
    background-color: #f9f7f1;

}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffbb33;
}


li{
    float: right;
}


li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #f9f7f1;
    margin-right: 12px;
}

li a:active, li a:hover{
    background-color: rgb(191, 127, 32);
}


h3, h4{
    text-align: center;
    color: #5f4b3a;
    font-family: Arial,sans-serif;
}


#banner{
    width: 100%;
    height: 380px;
}


p{
    color: #5f4b3a;
    font-family: Arial,sans-serif;
}


footer{
    background-color: #ffbb33;
    color: #333333;
    text-align: center;
    font-size: smaller;
    padding: 8px;
    font-family: Arial,sans-serif;
}


#products{
    background-color: white;
}

table{
    border-spacing: 0;
    border-color: #ffbb33;
    margin: auto;
    width: 75%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial,sans-serif;
}


th{
    background-color: #ffbb33;
    color: #5f4b3a;
}


td{
    background-color: #f2e2d2;
    color: #5f4b3a;
    text-align: center;
}


td img{
    height: 80%;
    width: 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}


#contact{
    background-color: #f9f7f1;
}


form{
    color:#5f4b3a;
    font-family: Arial,sans-serif;
}


input{
    background-color: #fff8e1;
}


input.one{
    background-color: #ffbb33;
}


#thankyou{
    background-color: #f9f7f1;
}


#logo{
    width: 30%;
    height: 350px;
}


h1{
    text-align: center;
    color: #333333;
    font-family: Arial,sans-serif;
}